<html lang='en'>
    <head>
        <link rel='stylesheet' href='../info.css' />
    </head>
    <body>

        <span><b>Argumentos:</b> {{info.arguments}}</span>
        <span><b>Plataforma: </b>{{info.platform}}</span>
        <span><b>Versión de node:</b> {{info.nodeVersion}}</span>
        <span><b>Memory:</b>{{info.memoryTotalReserved}}</span>
        <span><b>ExecPath: </b>{{info.execPath}}</span>
        <span><b>PID: </b>{{info.pid}}</span>
        <span><b>Proyect Path:</b> {{info.proyectPath}}</span>
        <span><b>CPUS:</b> {{info.CPUS}}</span>
        <b></b>
        <script src='../info.js'></script>
    </body>

</html>